h2 {
    color: #f50707;
    font-family: "Passion One";
    font-size: 40px;
    margin-bottom: 0px;
}
#one {
    color: #ff9900;
    font-family: "Apple Chancery";
}
#two {
    color: #18bb20;
    font-family: "Chalkduster";
}
#three {
    color: #166fe4;
    font-family: "Marker Felt";
}
#four {
    color: #b700ff;
    font-family: "Impact";
}